{% load static %}
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatiable" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/4.5.2/css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>
	<link rel="icon" type="image/png" href="{% static 'images/logo.png' %}" type="image/x-icon"/>
	<link rel="icon" type="image/jpg" href="{% static 'images/logo.jpg' %}"/>
	<title>Web By Nipennder | DloodDonation.com</title>
</head>