{% load static %}
<div class="header-top bg-blood">
	<div class="container">
		<div class="row d-flex justify-content-around zi-2">
			<div class="col-lg-6 d-none d-lg-block">
				<ul class="text-white list-group list-group-flush list-group-horizontal">
					<li class="list-group-item bg-blood border-bottom-0">
						<i class="far fa-envelope"></i>
						mrsingh@gmail.com
						<span class="pl-5">|</span></li>
					<li class="list-group-item bg-blood">
						<i class="far fa-clock"></i>
						Service Time : 24x7</li>
				</ul>
			</div>
			<div class="col-lg-6 col-md-12">
				<ul class="d-flex justify-content-end">
			{% if request.session.profile_id %}
				<a class="btn btn-outline-success" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.session.profile_name}}</a>
				<div class="dropdown-menu text-center" aria-labelledby="profileDropdown">
					<a class="dropdown-item text-dark nav-link" href="#">Profile</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'logout' %}">logout</a>
				</div>
			{% else %}
				<div class="d-flex">
					<a class="nav-link text-dark font-weight-bold" href="{% url 'login' %}">login</a>
					<span class="nav-link">/</span>
					<a class="nav-link text-dark font-weight-bold" href="{% url 'signup' %}">Signup</a>
				</div>
			{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top zi-1">
	<a class="navbar-brand" href="{% url 'index' %}"><img class="height-50" src="{% static 'images/logo.jpg' %}" alt="BloodDonation"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav w-100 font-weight-bolder  d-flex justify-content-around">
			<li class="nav-item active">
				<a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blood Donation</a>
				<div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'donate_blood' %}">Donate Blood</a>
					<a class="dropdown-item" href="{% url 'find_blood' %}">Find Blood Doner</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'contactus' %}">Contact US</a>
			</li>
		</ul>
	</div>
</nav>