{% extends 'index.html' %}
{% load static %}

{% block content %}
	<section id="about" class="contianer-fluid about-us">
		<div class="container">
			<div class="row session-title">
				<h2>About Us</h2>
				<p>All you need to do is send a text message to 8655, "blood need (blood-group) in (your-city)", in any language you want. Our system is smart enough to understand anything you write and helps you find a donor within minutes if not seconds.</p>
			</div>
			<div class="row">
				<div class="col-md-6 text">
					<h2>About Blood Doners</h2>
					<p>Blood donation is one of the beneficial concept connected with the science of surgical medicine. Like all the inventions borrowed from the West this too is an invention of the scientifically advanced Western countries. Human blood is divided into four groups viz; A,B,0 and AB. This blood is stored and preserved in blood banks for a week or so as it is, and later is preserved in the plasma form</p>
					<p> When another human being is struggling for life as cause of loss of blood, in an accident, war ordinary emergency, the blood bank will examine his blood and supply a blood from its storage which corresponds with the blood group of that person. In this way, hundreds of lives have been saved in our country. Among the blood groups, O-positive group is the universal donor, and can be transferred in the blood stream of persons of any other group</p>
					<p>Donation of blood is a prime need of the country, and the Government itself has taken charge of the department. It requests all hale and healthy citizens in the country to donate blood. This done through publicity in the form of signboards, hoardings, etc., in front of hospitals, or through media advertisements.</p>
					<p>Industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				</div>
				<div class="col-md-6 image">
					<img src="{% static 'images/about.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</section>

{% endblock %}