{% extends 'index.html' %}
{% load static %}

{% block content %}

	<section id="process" class="donation-care">
		<div class="container">
			<div class="row session-title">
				<h2><b>Our Web Devlopers</b></h2>
			</div>
			<div class="row">
				<div class="card col-md-3">
					<img class="card-img-top" src="{% static 'images/gallery/nip.jpg' %}" alt="">
					<div class="card-body">
						<h5 class="card-title">Nipender singh</h5>
						<p class="card-text">Student Of B.tech CSE<br><span class="text-sm">E-mail: nipendsingh@gmail.com<br>Mobile No: 6397728331</span></p>
					</div>
				</div>
				<div class="card col-md-3">
					<img class="card-img-top" src="{% static 'images/gallery/nn.png' %}" alt="">
					<div class="card-body pr-0">
						<h5 class="card-title">Nishant Kumar Tomar</h5>
						<p class="card-text">Student Of B.tech CSE<br><span class="text-sm">E-mail: nishantkumartomar97@gmail.com<br>Mobile No: 9719118193</span></p>
					</div>
				</div>
				<div class="card col-md-3">
					<img class="card-img-top" src="{% static 'images/gallery/arpi.png' %}" alt="">
					<div class="card-body">
						<h5 class="card-title">Arpit Chauhan</h5>
						<p class="card-text">Student Of B.tech CSE<br><span class="text-sm">E-mail: arpit123@gmail.com<br>Mobile No: 6396455939</span></p>
					</div>
				</div>
				<div class="card col-md-3">
					<img class="card-img-top" src="{% static 'images/gallery/nar.jpg' %}" alt="">
					<div class="card-body">
						<h5 class="card-title">Narander Kumar</h5>
						<p class="card-text">Student Of B.tech CSE<br><span class="text-sm">E-mail: narendra.tcstech@gmail.com<br>Mobile No: 6398835872</span></p>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}