{% extends 'index.html' %}
{% load static %}

{% block content %}
	<section id="about" class="contianer-fluid about-us">
		<div class="container">
			<div class="col-lg-4 col-md-12 footer-contact">
				<h2>Contact Information</h2>
				<div class="address-row">
					<div class="icon">
						<i class="fas fa-map-marker-alt"></i>
					</div>
					<div class="detail">
						<p>Durga Vihar Colony, Dhampur,<br>Distt: Bijnor<br>Uttar Pradesh<br>PIN: 246761</p>
					</div>
				</div>
				<div class="address-row">
					<div class="icon">
						<i class="far fa-envelope"></i>
					</div>
					<div class="detail">
						<p>mrsingh@gmail.com <br> support@gmail.com</p>
					</div>
				</div>
				<div class="address-row">
					<div class="icon">
						<i class="fas fa-phone"></i>
					</div>
					<div class="detail">
						<p>6397728331 <br> 8273239871</p>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}