{% extends 'index.html' %}
{% load static %}

{% block content %}

	<section id="process" class="donation-care">
		<div class="container">
			<div class="row session-title">
				<h2><b>Our Web Devlopers<b></h2>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 vd">
					<div class="bkjiu">
						<img src="{% static 'images/gallery/nip.jpg' %}" alt="">
						<h4><b>1 - </b>Nipender singh</h4>
						<p>Student Of B.tech CSE</p>
						<div class="detail">
							<p>E-mail:<br>nipendsingh@gmail.com<br>Mobile No. ; 6397728331</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 vd">
					<div class="bkjiu">
						<img src="{% static 'images/gallery/nn.png' %}" alt="">
						<h4><b>2 - </b>Nishant Kumar Tomar</h4>
						<p>Student Of B.tech CSE</p>
						<div class="detail">
							<p>E-mail:<br>nishantkumartomar97@gmail.com<br>Mobile No. ; 9719118193</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 vd">
					<div class="bkjiu">
						<img src="{% static 'images/gallery/arpi.png' %}" alt="">
						<h4><b>3 - </b>Arpit Chauhan</h4>
						<p>Student Of B.tech CSE</p>
						<div class="detail">
							<p>E-mail:<br>arpit123@gmail.com<br>Mobile No. ; 6396455939</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 vd">
					<div class="bkjiu">
						<img src="{% static 'images/gallery/nar.jpg' %}" alt="">
						<h4><b>3 - </b>Narander Kumar</h4>
						<p>Student Of B.tech CSE</p>
						<div class="detail">
							<p>E-mail:<br>narendra.tcstech@gmail.com<br>Mobile No. ; 6398835872</p>
						</div>
					</div> 
				</div>
			</div>
		</div>
	</section>

{% endblock %}