{% extends 'index.html' %}
{% load static %}

{% block content %}

	<section id="about" class="contianer-fluid about-us">
		<sdiv id="gallery" class="gallery container-fluid">
			<div class="container">
				<div class="row session-title">
					<h2>Checkout Our Gallery</h2>
				</div>
				<div class="gallery-row row">
					<div id="gg-screen"></div>
					<div class="row">
						<div class="col-md-3 py-3">
							<img class="w-100" src="{% static 'images/gallery/g1.jpg' %}">
						</div>
						<div class="col-md-3 py-3">
							<img class="w-100" src="{% static 'images/gallery/g2.jpg' %}">
						</div>
						<div class="col-md-3 py-3">
							<img class="w-100" src="{% static 'images/gallery/g3.jpg' %}">
						</div>
						<div class="col-md-3 py-3">
							<img class="w-100" src="{% static 'images/gallery/g4.jpg' %}">
						</div>
						<div class="col-md-3 py-3">
							<img class="w-100" src="{% static 'images/gallery/g5.jpg' %}">
						</div>
						<div class="col-md-3 py-3">
							<img class="w-100" src="{% static 'images/gallery/g6.jpg' %}">
						</div>
						<div class="col-md-3 py-3">
							<img class="w-100" src="{% static 'images/gallery/g7.jpg' %}">
						</div>
						<div class="col-md-3 py-3">
							<img class="w-100" src="{% static 'images/gallery/g8.jpg' %}">
						</div>
						<div class="col-md-3 py-3">
							<img class="w-100" src="{% static 'images/gallery/g9.jpg' %}">
						</div>
						<div class="col-md-3 py-3">
							<img class="w-100" src="{% static 'images/gallery/g10.jpg' %}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}