{% extends 'index.html' %}
{% load static %}

{% block content %}
	
	{% for message in messages %}
		<p class="alert alert-block alert-{{message.tags}} text-center">{{message}}</p>
	{% endfor %}
	<div class="slider-detail position-relative">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100" src="{% static 'images/slider/slide-02.jpg' %}" alt="First slide">
					<div class="carousel-caption d-none d-md-block">
						<h5 class=" bounceInDown">Donate Blood & Save a Life</h5>
						<p class=" bounceInLeft">Health benefits of donating blood include good health and reduced risk of cancer and hemochromatosis. It helps in reducing the risk of damage to liver and pancreas. Donating blood may help in improving cardiovascular health and reducing obesity.</p>
						<div class=" vbh">
							<a class="btn btn-success  bounceInUp" href="{% url 'contactus' %}">Contact US</a> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}